.container {
  display: grid;
  grid: 'leftTop Area rightTop' 1fr 'leftb Area rightb' 1fr / 1fr 1fr 1fr;
  height: 92.2vh;
  grid-column-gap: 1.5vh;
  grid-row-gap: 2vh;
  color: white;
}

.ifStyle {
  width: 100%;
  height: 91.2vh;

  &::-webkit-scrollbar {
    width: 0 !important
  }
}
