@import '../../Basic';

.container {
  @extend .containerBorder;
  grid-area: OnLineTotal;
  display: grid;
  grid: 'title title' 0.5fr 'distribute distribute' 3fr 'inTimeHandle monitor' 3fr
    / 1fr 1fr;

  .title {
    @extend .containerTitle;
    grid-area: title;
  }
}
