@import '../../Basic';

.container {
  @extend .containerBorder;
  display: grid;
  grid: 'title title' 1fr 'distribute distribute' 10fr 'inTimeHandle monitor' 7fr
    / 1fr 1fr;

  .title {
    @extend .containerTitle;
    grid-area: title;
  }
}
