@import '../utils/color';

.containerBorder {
  padding: 1.5vh;
  border: solid 0.5vh $containerBorder;
  transition: box-shadow 1s;

  &:hover {
    //border: solid 0.9vh $containerBorder;
    box-shadow: inset 0 0.1vh 10vh 0 $shadow;
  }
}

.containerTitle {
  font-size: 3.1vh;
  line-height: 4.3vh;
  color: $title;
}

.subTitle {
  position: relative;
  padding-left: 2.3vh;
  font-size: 2vh;
  line-height: 2.8vh;
  color: $subtitle;

  &:before {
    content: '';
    width: 1.7vh;
    height: 1.7vh;
    position: absolute;
    top: 50%;
    left: 1vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: linear-gradient(180deg, #21fdfc 0%, #0692ff 100%);
  }
}
