@import "../../Basic.scss";

.container {
  @extend .containerBorder;
  display: grid;
  grid: "title title" 1fr "OnLineEvent Details" 10fr "Sky Business" 7fr
    / 1fr 1fr;

  .title {
    @extend .containerTitle;
    grid-area: title;
  }
}
