@import "../../Basic.scss";

.container {
  @extend .containerBorder;
  grid-area: OnLineFinish;
  display: grid;
  grid: "title title" 0.5fr "OnLineEvent Details" 3fr "Sky Business" 3fr
    / 5fr 4fr;

  .title {
    @extend .containerTitle;
    grid-area: title;
  }
}
