@import "../../Basic";

.container {
  @extend .containerBorder;
  grid-area: rightb;
  display: grid;
  grid-template-rows: 1fr 8fr;

  .title {
    @extend .containerTitle
  }

  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .circle {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
